// Define variables for your color scheme

// For example:
$lblue: rgb(79, 201, 245);
$mblue: rgb(0, 120, 183);
$dblue: rgb(0, 38, 61);
$gblue: rgb(0, 99, 151);
$lred: rgb(247, 77, 90);
$red: rgb(210, 51, 51);
$lgrey: #e1e3e4;

$gradient: linear-gradient(-180deg, $mblue 0%, $gblue 90%);
