.main-card-container{
  padding:3%;
}
.card-container{
  // height:500px;
  padding:10px;
}
.card{
  background-color:white;
  // height:460px;
  padding:20px;
  padding-bottom:0px;
}
.card-image{
  width:100%;
  max-width:400px;
  overflow:hidden;
  max-height:400px;

}
.card-footer{
  height:80px;
  background-color:white;
  padding-left:0px;
  padding-bottom:0px;
  line-height:1;
  h5{
    font-weight:bold;
  }
  p{
    font-size:1em;
    font-weight:bold;
    color:$mblue;
  }
}


