.construction{
  background-color: $red;
  text-align:center;
  position:relative;

  .text-construction{
    color:white;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    padding:30px 20%;
    font-size:1.5em;
    line-height:1.1;
  }
}
@media only screen and (max-width: 768px) {
 .construction{
  .text-construction{
    color:white;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    padding:20px 2%;
    font-size:1.5em;
    margin:0px!important;
  }
}
}
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
