/* Main navbar */
@import "config/colors";

.navbar {
  width:100vw!important;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  // height: 70px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-inside{
  width:100%;
  padding:0px;
  margin:20px 0px;
}
.navbar-col:first-child{
  text-align:left;
  border:1px solid black;
}
.navbar-col:last-child{
  text-align:right;
  border:1px solid black;
}
#navbar-phone{
  font-family: 'Roboto', sans-serif;
  color:$dblue;
  font-size:1.5em;
}

@media only screen and (max-width: 576px) {
  .navbar-col{
    text-align:center!important;
  }
  #navbar-phone{
    font-size:1.3em;
  }
}





/* Logo */
// .navbar-brand img {
//   height: 50px;
// }
// /* Right section */
// .navbar-right {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }


// /* Navbar link */
// .navbar-phone {
//   color: #616668;
//   font-size: 14px;
// }
