
.section-partners{
  padding:5%;
  min-height:500px;
  background-color:#f4f4f4;
  display:flex;
  align-items:center;
  justify-content: center;
  box-shadow:0 -1px 3px $lgrey;
}
.partners-container{
  display:flex;
}

.partners-col{
  padding:0.3%;
}
.arrow-col{
  display:flex;
  align-items:center;
  justify-content:center;

  .fas{
    color:$lblue;
    cursor:pointer;
        -webkit-transition: color 0.3s; /* Safari */
        transition: color 0.3s;

        &:hover{
          color:$mblue;
        }
      }

    }
    .arrow-inactive{
      color:$lgrey!important;
      cursor:default!important;
    }
    #arrow-col-left{
      justify-content:flex-end;

    }
    #arrow-col-right{
      justify-content:flex-start;
    }


    .partner-image{
      max-width:100%;
    }
    .container-title{
      text-align:center;
      p{
        color:$mblue!important;
        font-size: 35px;
        font-weight: lighter;
        color: rgb(255, 255, 255);
        opacity: 0.6;
        margin-bottom: 30px;

      }
    }

// .partners-container{
//   width:150px;
//   height:200px;
//   padding:4px;
// }
// .partner-image{
//   width:100%;
//   height:100%;
//   max-height:200px;
//   overflow:hidden;
//   margin:10px 0;
// }
