.tabs-container{
  background-color:$red;
  width:100vw;
  padding:0px 3%;
}
.col-tabs{
  // border:1px solid $dblue;
  text-align:center;
  padding:15px 1%;
  background-color:$mblue;
  color:$lblue;
  font-size:1.1em;
  font-weight:bold;
  border-top:15px solid $red;
  cursor:pointer;
  &:hover{
    opacity:0.9;
  }
}
.active-tabs{
  background-color:$lgrey;
  border-top:15px solid white;
  color:$dblue;
  // box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.07),0 -1px 0 0 rgba(0,0,0,0.03);

}
