<div class="main-card-container container-fluid">
  <div class="row">

    <% 10.times do  %>

    <div class="card-container col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xs-3">
      <div class="card">
        <div class="card-image">
        </div>
        <div class="card-footer">
          <h5>SIGNALISATION ROUTIÈRE</h5>
          <p>SIGNALISATION ROUTIÈRE</p>
        </div>
      </div>
    </div>


    <% end %>



  </div>
</div>
