<div class="construction" id="text-construction">
  <div class="text-construction">Nous CONSTRUISONS présentement un nouveau site WEB pour mieux vous servir !

  </div>
  <span class="close2" id="close2" onClick="closeConstruction();">&times;</span>

</div>
