<div class="footer container-fluid">

  <div class="row footer-row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-logo">
      <%= cl_image_tag("logo-blanc-01", :id => "footer-logo") %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-info">

      <h6>Copropriétaires</h6>
      <ul>
        <li>Louis Dufour <a href="mailto:louis@prodelapancarte.com"><i class="fas fa-envelope"></i></a></li>
        <li>Olivier Bolduc <a href="mailto:olivier@prodelapancarte.com"><i class="fas fa-envelope"></i></a></li>
        <li>David Poisson Paré <a href="mailto:david@prodelacopie.com"><i class="fas fa-envelope"></i></a></li>
        <br>
        <li>1015, rue Chabanel, Chicoutimi (QC) G7H 6A2</li>
      </ul>
      <h2>418 815-6743</h2>
    </div>
  </div>
</div>
