<div class="navbar">
  <div class="nav-bar-inside row ">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 navbar-col">
      <%= cl_image_tag("logo-inline-01", :id => "navbar-logo") %>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 navbar-col">
      <a href="tel:4188157543" id="navbar-phone">418 815-7543</a>
    </div>
  </div>
</div>

<div class="navbar-tiny-screen">
  <%= cl_image_tag("logo-square-01", :id => "tiny-navbar-logo") %>
  <div id="phone-box">
  <a href="tel:4188157543" id="navbar-phone">418 815-7543</a>
  </div>
</div>






<!-- Logo -->


<!--   <a href="/" class="navbar-brand col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img src="images/logo.png" alt="logo">
  </a>
-->


<!-- Right Navigation -->
<!--   <div class="navbar-right col-xs-12 col-sm-12 col-md-6 col-lg-6">

    Profile picture with dropdown list
    <div class="navbar-phone">
   <h1 class="btn btn-primary"> 418 815-7543</h1>
   <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>



-->
</div>
