<!-- NAVBAR GRANDS ECRANS -->

<div class="navbar container-fluid d-none d-lg-block">

  <div class="triangle"></div>
  <div class="about">
  <ul class="list-inline">
    <li class="list-inline-item">A PROPOS</li><span>&nbsp|&nbsp</span>
    <li class="list-inline-item">CONTACT</li>
  </ul>


  </div>

  <div class="nav-bar-inside row ">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 navbar-col">
      <%= cl_image_tag("logo-inline-01", :id => "navbar-logo") %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 navbar-col">
      <a href="tel:4188157543" id="navbar-phone">418 815-7543</a>
    </div>

  </div>

</div>


<!-- NAVBAR PETITS ECRANS -->


<div class="navbar container-fluid d-none d-sm-none d-md-block d-lg-none">

  <div class="nav-bar-inside row ">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 navbar-col">
      <%= cl_image_tag("logo-inline-01", :id => "navbar-logo") %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 navbar-col">
      <div class="btn-group">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>

  </div>

</div>

<!-- NAVBAR tres PETITS ECRANS -->

<div class="navbar-tiny-screen d-sm-block d-md-none d-lg-none">
  <%= cl_image_tag("logo-square-01", :id => "tiny-navbar-logo") %>
</div>

