<div class="section-partners d-none d-md-block">
  <div class="container-title">
    <p>Nous avons la chance de travailler avec ces partenaires</p>
    <div class="partners-container container-fluid">

      <div class="row partners-row">
        <div class="arrow-col col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 " id="arrow-col-left">
          <i class="fas fa-arrow-circle-left fa-3x arrow-inactive" id="arrow-left" onclick="plusSlides(-1, this.id)"></i>
        </div>
        <% i = 0 %>
        <% @partners.each do |partner| %>
        <div class="partners-col col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2  display-none" id=<%= "partner#{i.to_s}" %>>
          <% i = i + 1 %>
          <%= cl_image_tag(partner.image, :class=>"partner-image", :alt=>partner.name.upcase, :onclick=>"zoomModal(this);") %>
          <%= i %>
        </div>
        <% end %>
        <div class="arrow-col col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2" id="arrow-col-right">
          <i class="fas fa-arrow-circle-right fa-3x" id="arrow-right" onclick="plusSlides(1, this.id)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

