<div class="main-partners-container container-fluid">

  <div class="row display-partners">
    <div class="partners-container col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xs-3">

    </div>
  </div>


</div>
